@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

input, textarea{
  @apply border border-gray-300 rounded-md px-2 w-full;
  @apply mb-3 mt-2;
}

input:focus, textarea:focus{
  @apply border border-blue-700;
}

h1{
  @apply text-xl text-blue-600 font-bold mb-4;
}

label{
  @apply text-blue-600 font-bold mb-4;
}

.btn-primary{
  @apply bg-blue-600 text-white mt-3 w-14 h-8 rounded-md;
}

table.basic-table{
  @apply w-full;
}

table.basic-table thead tr td {
  @apply bg-blue-300 text-black font-bold text-center;
}

table.basic-table tr td{
  @apply border border-gray-400 p-2 text-center;
}

/* table.basic-table a{
  @apply bg-blue-600 text-white text-sm py-1 px-2 rounded-md inline-flex gap-2 items-center;
} */

.btn-edit {
  @apply bg-blue-600 text-white text-sm py-1 px-2 rounded-md inline-flex gap-2 items-center;
}

.btn-delete {
  @apply bg-red-700 text-white text-sm py-1 px-2 rounded-md inline-flex gap-2 items-center;
}

.btn-red {
  @apply bg-red-600 text-white text-sm py-1 px-4 rounded-md font-bold
}

.btn-default {
  @apply bg-gray-500 text-white text-sm py-1 px-4 rounded-md font-bold
}